<p id="notice"><%= notice %></p>

<h1>Empleados</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellido paterno</th>
      <th>Apellido materno</th>
      <th>Fecha de nacimiento</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Nss</th>
      <th>Categoria</th>
      <th>Activo</th>
      <th>Fecha de creacion</th>
      <th>Fehca de actualizacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empleados.each do |empleado| %>
      <tr>
        <td><%= empleado.id %></td>
        <td><%= empleado.nombre %></td>
        <td><%= empleado.apellidoPaterno %></td>
        <td><%= empleado.apellidoMaterno %></td>
        <td><%= empleado.fechaNacimiento %></td>
        <td><%= empleado.telefono %></td>
        <td><%= empleado.email %></td>
        <td><%= empleado.nss %></td>
        <td><%= empleado.categoria %></td>
        <td><%= empleado.activo %></td>
        <td><%= empleado.fechaCreacion %></td>
        <td><%= empleado.fehcaActualizacion %></td>
        <td><%= link_to 'Ver', empleado %></td>
        <td><%= link_to 'Editar', edit_empleado_path(empleado) %></td>
        <td><%= link_to 'Eliminar', empleado, method: :delete, data: { confirm: 'Esta seguro de eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Empleado', new_empleado_path %>
